* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 80%;
  height: 10vh;
  min-height: 50px;
  align-items: center;
}
.logo {
  max-height: 70px;  
}

/* Style The Dropdown Button */
.dropIcon {
  /*background-color: #4caf50;*/
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  height: 60px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 75%;
  right: 0;
  margin: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 18px 25px;
  text-decoration: none;
  display: block;
  border: 1px solid hsl(101, 67%, 71%);
  margin: 0 auto;
  width: 100%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.recipe {
  margin: 10px 10%;
}
h1 {
  text-align: center;
}
hr {
  width: 40%;
  margin: 10px auto 20px;
}

.recipeMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipePic {
 width: 100%;
 height: 70vh;
 object-fit: cover;
 margin: 0 auto ;
}
.social {
  display: flex;
  margin: 10px 0;
}
.social img {
  height: 30px;
  margin: 0 5px;  
}
.social p {
  margin: auto 10px ;
}


.foodList {
  width: 80%;
  margin: 20px auto;
}
h2 {
  margin: 15px;
  text-transform: uppercase;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 15px;
}
.ingredients {
  margin: 0 auto;  
  list-style-position: inside;  
}
.ingredients > li { 
  font-size: 1.1em;
  max-width: 400px;
  /*min-width: 200px;*/  
}
.recipeInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  max-width: 40px;
}
.recipeInfo span {
  margin: 0 10px;
  font-size: 2em;
}
.rate {
  width: 100px;
  margin-left: 10px;
}


.directions {
  margin: 50px auto;
  width: 80%;
  padding: 20px;
  line-height: 2;
}
.instruccions > li {
  margin: 15px 0;
  font-size: 1.2em;
 
}
.timer {
  position: relative;
  width: 40%;
  max-width: 400px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.timer img { 
  width: 100%;
 }

 .timer button {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(89, 89, 89,0.4);
  color: white;
  width: 50%;
  min-width: 100px;
  height: auto;
  font-size: 1.2em;
  text-align: center; 
  padding: 5px;
  border-radius: 15px;
}
.container p {
text-align: center;
margin-top: 10%;
}

/* The Modal  */
.modal {
  display: none; /* Hidden by default */
  position: sticky; /* Stay in place */
  z-index: 1; /* Sit on top */
  bottom: 10%;
  right: 30%;  
}
/* Modal Content/Box */
.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 0 5px 0 auto ;
  padding: 5px;
  border: 1px solid #888;
  width: 30%;
  height: 40vh; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input {
  width: 60%;
  margin: 5px auto;
  
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  border: 1px solid hsl(101, 67%, 71%);
  padding: 3%;
}
..footerLink {
  width: 18%;
  align-items: flex-end;
  text-align: right;
  
}
.footerLink a {
  text-decoration: none;
  color: hsl(101, 61%, 50%);
  font-weight: bolder;
  font-size: 1.9vh;
  margin-right: 10px;
  
}

@media screen and (min-width: 900px) {
  .recipeMedia {
    flex-direction: row;
    justify-content: space-between;
  }
  .photo {
    width: 40%;
    height: 100%;
    margin: 0 auto;    
  }
  .recipePic {
    margin: 0 auto;    
  }
  .foodList{
    width: 40%;
    height: 100%;
  }
  .h2 {
    font-size: 1.5vw;
  }
  
  .directions {
    width: 60%;
  }
  .timer {
    max-width: 300px;
    height: auto;
     
  }
  .timer button {
   font-size: 1.3em;
   max-width: 125px; 
  }
  input {
    width: 40%
  }
}  